*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}